@font-face {
  font-family: 'Avenir';
  src: url('assets/Fonts/Avenir-Medium.ttf');
}

html, body, #root {
  font-family: 'Avenir';
}

body {
  background-color: #f3f3f4;
}

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.AccordionStyle .MuiAccordionSummary-root {
  padding: 0px !important;
}

.expandmoreIcon {
  position: absolute !important;
  right: 0 !important;
  margin-right: 15px !important;
}

.expandmoreIconanimation {
  position: absolute !important;
  right: 0 !important;
  margin-right: 15px !important;
  transform: rotate(180deg);
}

.MuiAccordionSummary-root {
  padding: 0px !important;
}

.MuiNativeSelect-select:focus {
  background: none !important;
}